[submodule "asmjit"]
	path = asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "asmtk"]
	path = asmtk
	url = https://github.com/asmjit/asmtk.git
[submodule "catch2"]
	path = catch2
	url = https://github.com/catchorg/Catch2.git
