[submodule "src/external/asmjit"]
	path = src/external/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "src/external/zydis"]
	path = src/external/zydis
	url = https://github.com/zyantific/zydis.git
